In [8]:
#pip install -U pymongo
pip install dnspython

SyntaxError: invalid syntax (Temp/ipykernel_19436/2339811031.py, line 2)

In [7]:
import sys
import pandas as pd
import pymongo
import json
import os
from pathlib import Path

In [9]:
##def import_content(collName, filepath):
DatabaesName = 'Analytics'
collection_name = 'alternative'
filepath = r"Data\alternative.csv" 
##?retryWrites=true&w=majority
mng_client = pymongo.MongoClient('mongodb+srv://KUMAR:WelcomE01@cluster0.cep5x.mongodb.net/test')
mng_db = mng_client[DatabaesName] #// Replace mongo db name
#collection_name = collName #// Replace mongo db collection name
db_cm = mng_db[collection_name]
cdir = Path().resolve()
file_res = os.path.join(cdir, filepath)

data = pd.read_csv(file_res)
data_json = json.loads(data.to_json(orient='records'))
db_cm.insert_many(data_json)
    #db_cm.insert(data_json)

ConfigurationError: The "dnspython" module must be installed to use mongodb+srv:// URIs. To fix this error install pymongo with the srv extra:
 C:\Users\Uttam\anaconda3\envs\mlenv\python.exe -m pip install "pymongo[srv]"

In [5]:
# Read data from Mongo DB to Pandas DataFrame

df = pd.DataFrame(list(db_cm.find()))

In [8]:
# Load data 
df.head(20)

,_id,country,Code,Year,TWh_Unit,source,continent
0,621119ce3ad2db82e53c7f52,Argentina,ARG,2002,0.382037,Biofuel,Americas
1,621119ce3ad2db82e53c7f53,Argentina,ARG,2006,1.276533,Biofuel,Americas
2,621119ce3ad2db82e53c7f54,Argentina,ARG,1993,0.000000,Biofuel,Americas
3,621119ce3ad2db82e53c7f55,Argentina,ARG,2018,114.132343,Biofuel,Americas
4,621119ce3ad2db82e53c7f56,Argentina,ARG,2015,0.593335,Wind,Americas
5,621119ce3ad2db82e53c7f57,Argentina,ARG,2016,0.547359,Wind,Americas
6,621119ce3ad2db82e53c7f58,Argentina,ARG,1985,0.000000,Solar,Americas
7,621119ce3ad2db82e53c7f59,Argentina,ARG,1991,0.000000,Solar,Americas
8,621119ce3ad2db82e53c7f5a,Argentina,ARG,2003,0.000065,Solar,Americas
9,621119ce3ad2db82e53c7f5b,Argentina,ARG,2006,0.000090,Solar,Americas
10,621119ce3ad2db82e53c7f5c,Argentina,ARG,1974,5.028000,Hydro,Americas
11,621119ce3ad2db82e53c7f5d,Australia,AUS,1993,0.000000,Biofuel,Oceania
12,621119ce3ad2db82e53c7f5e,Australia,AUS,2003,1.925928,Biofuel,Oceania
13,621119ce3ad2db82e53c7f5f,Australia,AUS,2011,9.158992,Biofuel,Oceania
14,621119ce3ad2db82e53c7f60,Australia,AUS,2016,8.064649,Biofuel,Oceania
15,621119ce3ad2db82e53c7f61,Australia,AUS,1966,0.000000,Wind,Oceania
16,621119ce3ad2db82e53c7f62,Australia,AUS,1970,0.000000,Wind,Oceania
17,621119ce3ad2db82e53c7f63,Australia,AUS,1982,0.000000,Wind,Oceania
18,621119ce3ad2db82e53c7f64,Australia,AUS,2000,0.134000,Wind,Oceania
19,621119ce3ad2db82e53c7f65,Australia,AUS,2018,16.411507,Wind,Oceania